# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake things
CMakeCache.txt
*/CMakeFiles/*
**/Release/*
**/Debug/*
*.cmake

# Visual Studio
*.tlog
*/.vs/**
*.pdb
*.log
*.ilk
*.idb
*.ipdb
*.iobj
openvr/samples/******
